TG.ExpressCMS/Service References/EmailSender/EmailSender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="eXpressoServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="eXpressoServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="eXpressoServices">
      <s:element name="AddemailtoQueueNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessAllPendingEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddemailtoQueueNow2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_recname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mailid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colIntegers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheduledate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scheduletime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddemailtoQueueNowSoapIn">
    <wsdl:part name="parameters" element="tns:AddemailtoQueueNow" />
  </wsdl:message>
  <wsdl:message name="ProcessAllPendingEmailSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessAllPendingEmail" />
  </wsdl:message>
  <wsdl:message name="AddemailtoQueueNow2SoapIn">
    <wsdl:part name="parameters" element="tns:AddemailtoQueueNow2" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:portType name="EmailSenderSoap">
    <wsdl:operation name="AddemailtoQueueNow">
      <wsdl:input message="tns:AddemailtoQueueNowSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="ProcessAllPendingEmail">
      <wsdl:input message="tns:ProcessAllPendingEmailSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="AddemailtoQueueNow2">
      <wsdl:input message="tns:AddemailtoQueueNow2SoapIn" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSenderSoap" type="tns:EmailSenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddemailtoQueueNow">
      <soap:operation soapAction="eXpressoServices/AddemailtoQueueNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProcessAllPendingEmail">
      <soap:operation soapAction="eXpressoServices/ProcessAllPendingEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddemailtoQueueNow2">
      <soap:operation soapAction="eXpressoServices/AddemailtoQueueNow2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="eXpressoServices/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailSenderSoap12" type="tns:EmailSenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddemailtoQueueNow">
      <soap12:operation soapAction="eXpressoServices/AddemailtoQueueNow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProcessAllPendingEmail">
      <soap12:operation soapAction="eXpressoServices/ProcessAllPendingEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddemailtoQueueNow2">
      <soap12:operation soapAction="eXpressoServices/AddemailtoQueueNow2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="eXpressoServices/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailSender">
    <wsdl:port name="EmailSenderSoap" binding="tns:EmailSenderSoap">
      <soap:address location="http://localhost:8506/Services/EmailSender.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailSenderSoap12" binding="tns:EmailSenderSoap12">
      <soap12:address location="http://localhost:8506/Services/EmailSender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>